html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d8d8d;
}

#drum-machine {
  height: 300px; /* 300px 33vh */
  width: 650px; /* 650px 38.5vw */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3b3b3;
  border: 5px solid orange;
  border-radius: 5px;
}

#button-container {

  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 5px;

}
#second-container{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

#display {
  background-color: #808080;
  width: 12.5vw;
  height: 5.5vh;
  color: black;
  text-align: center;
  font-size: 24px;
  padding-top: 2vh;
  margin-top: 5vh;
  font-weight: bold;
  border-radius: 10px;
}

#volume-lbl {
  margin-top: 2.5vh;
  margin-bottom: 1vh;
  color: #0000ff;
  font-weight: bold;
}

#volume {
  background-color: black;
  color: black;
  cursor:pointer;
  margin-bottom: 1vh;
}

#pwr-btn {
  width: 50%;
  margin-top: 2vh;
  background-color: black;
  color: orange;
  padding: 3%;
  border: 2px solid;
  border-color: #0000ff;
  border-radius: 10px;
  font-weight: bold;
}






.drum-pad {
  
  height: 30%;
  width: 30%;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px;
  font-size: 22px;
  padding: 0 5px 0 5px;
  margin: 0 2px 0 2px;

}
.drum-padhehe {
  background-color: red;
  color: red;
}

.drum-pad:hover:not([disabled]) {
  background-color: darkgray;
}
.drum-pad:active:not([disabled]) {
  box-shadow: 2px 2px;
  transform: translate(2px, 2px)
}






input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #413f3fe1;
  border: solid 1px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 7.5px;
  border-radius: 0%;
  background: #0000ff;
  margin-top: -11px;
}

input[type=range]:focus {
  outline: none;
}
